backports.entry-points-selectable==1.1.0
black==21.9b0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.3
colorama==0.4.4
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
idna==3.2
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.4.2
Kivy-Garden==0.1.4
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.0.2
Pygments==2.9.0
pypiwin32==223
pywin32==301
regex==2021.10.23
requests==2.26.0
six==1.16.0
tomli==1.2.2
typing-extensions==3.10.0.2
urllib3==1.26.6
virtualenv==20.6.0
